<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <!--Referênciando o meu arquivo-->
    <title>Pokedex-MVC</title>
  </head>
  <body>
    <header>
      <h1>POKEDEX</h1>
    </header>
    <main>
        <section id="cards">
            <% pokedex.forEach((pokemon) => { %>
            <!--Rodando um forEach para criação de várias "divs" vários cards com nome, descrição e tipo do pokemon-->

                <div class="card">
                    <img src="<%= pokemon.imagem %>" alt="" />
                    <h2><%= pokemon.nome %></h2>
                    <p class="descricao"><%= pokemon.descricao %></p>
                    <p><%= pokemon.tipo %></p>
                </div>
            <% }) %>
        </section>

        <section id="cadastro">
          <h2>Cadastre um novo POKEMON</h2>

          <form action="/add" method="post">
            <label for="nome" class="label">Nome:</label>
            <input type="text" id="nome" name="nome" class="text-input" autocomplete="off" placeholder="Digite o nome">

            <label for="descricao">Descrição:</label>
            <input type="text" id="descriçao" name="descricao" class="text-input" autocomplete="off" placeholder="Insira a descrição">

            <label for="tipo" class="label">Tipo:</label>
            <input type="text" id="tipo" name="tipo"
            class="text-input" autocomplete="off" placeholder="Digite o tipo">

            <label for="imagem" class="label">Link da Imagem</label>
            <input type="text" id="imagem" name="imagem" class="text-input" autocomplete="off" placeholder="Insira o link da imagem">
           
            <button id="btnCadastrar" type="submit">Cadastrar</button>
            
          </form>
        </section>      
    </main>
  </body>
</html>
