@import url("https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Koulen&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
  scroll-behavior: smooth;
}

nav {
  background-color: #0079a8;
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding: 0.6rem;
}

nav img {
  width: 3rem;
}

nav h1 {
  color: #bbdefb;
  font-size: 1.3rem;  
}

nav ul li a {
  text-decoration: none;
  color: #bbdefb;
}

header img {
  width: 100%;
  height: 30rem;
}

main {
  margin: 0 10rem 0 10rem;
}

section#cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  flex-wrap: wrap; /*Joga o item para baixo*/
}

section#cards div.card {
  width: 20rem;
  box-shadow: 5px 5px 5px 5px #00000015;
  padding: 3rem;
  margin: 3rem 0 5rem 0;
}

section#cards h2 {
  width: 100%;
  text-align: center;
  background-color: #aeea00;
}

section#cards div.card img {
  width: 100%;
}

section#cards div.card h3 {
  margin-bottom: 1rem;
  background-color: #ff3d00;
}

section#cards div.card p.descricao {
  margin-bottom: 1rem;
}

section#cards div.card a#editar {
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #fff;
  border: solid 1px #ff3d00;
  color: #ff3d00;
  cursor: pointer;
  /* border-radius: 5px; */
  transition: 0.2s ease-in-out;
  text-decoration: none;
  margin-top: 2rem;
  font-size: 1rem;
}

section#cards div.card a#editar:hover {
  background-color: #ff3d00;
  color: #fff;
  /* border-radius: 10px; */
}

section#cards div.card a#apagar {
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #fff;
  border: solid 1px #2b2b2b;
  color: #2b2b2b;
  cursor: pointer;
  /* border-radius: 5px; */
  transition: 0.2s ease-in-out;
  text-decoration: none;
  margin-top: 1rem;
  font-size: 1rem;
}

section#cards div.card a#apagar:hover {
  background-color: #2b2b2b;
  color: #fff;
  /* border-radius: 10px; */
}

section#cadastro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 4rem;
}

section#cadastro img {
  width: 50%;
}

section#cadastro h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
  color: #37474f;
  
}

section#cadastro form {
  width: 50%;
}

section#cadastro form input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: solid 2px rgb(163, 163, 163);
  margin: 0 0.5rem 0.5rem 0.5rem;
}

section#cadastro form label {
  margin: 0.5rem;
  color: rgb(160, 160, 160);
}

.label {
  transition: all 0.2s;
  z-index: 1;
  color: #b3b3b3;
  user-select: none;
}

.text-input {
  background: #37474f;
  border: 2px;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s;
  color: #fff;
}

/*btn*/
section#cadastro form button {
  padding: 0.8rem;
  width: 20%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #aeea00;
  border: solid 1px #aeea00;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  margin-top: 2rem;
}

section#cadastro form button:hover {
  background-color: #fff;
  color: #aeea00;
  border-radius: 10px;
}

footer {
  width: 100%;
  background-color: #0079a8;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer p {
  width: 100%;
  color: #bbdefb;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

footer p a {
  text-decoration: none;
  color: #bbdefb;
  font-weight: 600;
}
